body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #000;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3468C0;
  color: #fff;
  padding: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.therapy-section {
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h2, h3 {
  color: #000;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.session-list {
  background-color: #86A7FC; /* Blue background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px; /* Add some space between sections */
}

.sessions-container {
  display: flex;
  justify-content: space-between;
}

.session {
  background-color: #FFDD95; /* Little bit of orange */
  width: calc(45% - 10px); /* Two sessions in one row with some spacing */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  list-style-type: none; /*This will remove the dot */
}

.session:hover {
  transform: translateY(-5px);
}

.session-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.start-button {
  background-color: #FF9843;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #FFA76D;
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}